language:
  - python

os:
  - linux

sudo: false

python:
  - "2.7"
  - "3.2"
  - "3.3"
  - "3.4"
  - "3.5"
  - "3.6"
  - "3.7"
  - "3.8"
  - "nightly"

dist:
  - xenial
  - bionic

addons:
  coverity_scan:
    # GitHub project metadata
    project:
      name: reactive-firewall/python-repo
      version: 1.1.1
      description: Python Repo Template
    # Commands to prepare for build_command
    # ** likely specific to your build **
    build_command_prepend: make clean ;
    # The command that will be added as an argument to "cov-build" to compile your project for analysis,
    # ** likely specific to your build **
    build_command: make test
    # Pattern to match selecting branches that will run analysis. We recommend leaving this set to 'coverity_scan'.
    # Take care in resource usage, and consider the build frequency allowances per
    #   https://scan.coverity.com/faq#frequency
    branch_pattern: master

branches:
  only:
    - stable
    - master

env:

#  - TRAVIS_PYTHON_VERSION="2.7"
#  - TRAVIS_PYTHON_VERSION="3.2"
#  - TRAVIS_PYTHON_VERSION="3.3"
#  - TRAVIS_PYTHON_VERSION="3.4"
#  - TRAVIS_PYTHON_VERSION="3.5"
#  - TRAVIS_PYTHON_VERSION="3.6"
#  - TRAVIS_PYTHON_VERSION="3.7"
#  - TRAVIS_PYTHON_VERSION="3.8"

jobs:
  include:
  - os: linux
    python:  "pypy2.7-5.8.0"
  - os: linux
    python:  "pypy3.5-5.8.0"
  - os: linux
    python:  "pypy3.5-6.0"
  - os: linux
    python:  "pypy3.5-5.10.0"
    env: TRAVIS_PYTHON_VERSION="3.5"
  - os: linux
    python:  "pypy2.7-5.10.0"
    env: TRAVIS_PYTHON_VERSION="2.7"
  - os: linux
    python:  "nightly" # currently points to 3.8-dev
    env: TRAVIS_PYTHON_VERSION="3.8-dev"
  - os: osx
    osx_image: xcode9
    language: shell
  - os: osx
    osx_image: xcode10
    language: shell
  - os: osx
    osx_image: xcode10.2
    language: shell
  - os: osx
    osx_image: xcode11
    language: shell
  - os: osx
    osx_image: xcode11.3
    language: shell
  exclude:
  - os: osx
    language: python
  - os: linux
    language: shell
  allow_failures:
  - os: osx
    osx_image: xcode9
  - os: osx
    osx_image: xcode9.3
    language: shell
  - os: osx
    osx_image: xcode9.4
    language: shell
  - os: osx
    osx_image: xcode10
    language: shell
  - os: osx
    osx_image: xcode10.1
    language: shell
  - os: osx
    osx_image: xcode10.2
    language: shell
  - os: linux
    dist: trusty
  - os: linux
    dist: xenial
  - os: linux
    python:  "3.6-dev"
    env: TRAVIS_PYTHON_VERSION="3.6"
  - os: linux
    python:  "nightly" # currently points to 3.7-dev
    env: TRAVIS_PYTHON_VERSION="3.7-dev"
  - os: osx
    osx_image: xcode6.4
    language: shell
  - os: osx
    osx_image: xcode7.2
    language: shell
  - os: osx
    osx_image: xcode7.3
    language: shell
  - os: linux
    python:  "2.6"
  - os: linux
    python:  "2.7"
  - os: linux
    python:  "3.2"
    env: TRAVIS_PYTHON_VERSION="3.2"
  - os: linux
    python:  "3.7-dev"
    env: TRAVIS_PYTHON_VERSION="3.7"
  - os: linux
    python:  "3.8-dev"
    env: TRAVIS_PYTHON_VERSION="3.8"
  - os: linux
    python:  "nightly"
  - os: linux
    python:  "3.2"
  - os: linux
    python:  "3.3"
  - os: linux
    python: "pypy"
  - os: linux
    python:  "pypy3"
  - os: linux
    python:  "pypy3.5-5.8.0"
  - os: linux
    python:  "pypy2.7-5.8.0"
  - os: linux
    python:  "pypy3.5-5.10.0"
    env: TRAVIS_PYTHON_VERSION="3.5"
  - os: linux
    python:  "pypy2.7-5.10.0"
    env: TRAVIS_PYTHON_VERSION="2.7"
  - os: linux
    python:  "pypy3.5-6.0"
  - os: linux
    python:  "nightly" # currently points to 3.8-dev
    env: TRAVIS_PYTHON_VERSION="3.8-dev"

install:  "make init"

before_install:
  - if [ $TRAVIS_OS_NAME == osx ] ; then travis_wait git -C "$(brew --repo homebrew/core)" fetch --unshallow || true ; fi
  - if [ $TRAVIS_OS_NAME == osx ] ; then travis_retry brew tap homebrew/versions || true ; fi
  - if [ $TRAVIS_OS_NAME == osx ] ; then travis_wait brew upgrade || travis_retry brew upgrade || true ; fi
  - if [ $TRAVIS_OS_NAME == osx ] ; then brew install python2.6 || true ; fi
  - if [ $TRAVIS_OS_NAME == osx ] ; then brew install python26 || true ; fi
  - if [ $TRAVIS_OS_NAME == osx ] ; then travis_wait brew install python3 || true ; fi
  - if [ $TRAVIS_OS_NAME == osx ] ; then travis_wait brew install python@3 || true ; fi
  - if [ $TRAVIS_OS_NAME == osx ] ; then travis_wait brew install python@2 || true ; fi
  - if [ $TRAVIS_OS_NAME == osx ] ; then brew install python3.3 || true ; fi
  - if [ $TRAVIS_OS_NAME == osx ] ; then brew install py3.3 || true ; fi
  - if [ $TRAVIS_OS_NAME == osx ] ; then brew install python3.4 || true ; fi
  - if [ $TRAVIS_OS_NAME == osx ] ; then brew install python34 || true ; fi
  - if [ $TRAVIS_OS_NAME == osx ] ; then brew install py3.4 || true ; fi
  - if [ $TRAVIS_OS_NAME == osx ] ; then brew install python3.5 || true ; fi
  - if [ $TRAVIS_OS_NAME == osx ] ; then brew install python35 || true ; fi
  - if [ $TRAVIS_OS_NAME == osx ] ; then brew install py3.5 || true ; fi
  - if [ $TRAVIS_OS_NAME == osx ] ; then brew install python3.6 || true ; fi
  - if [ $TRAVIS_OS_NAME == osx ] ; then brew install python36 || true ; fi
  - if [ $TRAVIS_OS_NAME == osx ] ; then brew install py3.6 || true ; fi
  - if [ $TRAVIS_OS_NAME == osx ] ; then brew install python2.7 || true ; fi
  - if [ $TRAVIS_OS_NAME == osx ] ; then brew install python27 || true ; fi
  - if [ $TRAVIS_OS_NAME == osx ] ; then brew install py2.7 || true ; fi
  - if [ $TRAVIS_OS_NAME == osx ] ; then brew install python3.6 || true ; fi
  - if [ $TRAVIS_OS_NAME == osx ] ; then brew install python3.7 || true ; fi
  - if [ $TRAVIS_OS_NAME == osx ] ; then brew install coverage $INSTALL || true ; fi
  - if [ $TRAVIS_OS_NAME == osx ] ; then brew install codecov || true ; fi
  - if [ $TRAVIS_OS_NAME == osx ] ; then brew install pip || true ; fi
  - if [ $TRAVIS_OS_NAME == osx ] ; then export VERSIONER_PYTHON_VERSION=${TRAVIS_PYTHON_VERSION:-3.6} || true ; fi
  - if [ $TRAVIS_OS_NAME == osx ] ; then defaults write com.apple.versioner.python Version $TRAVIS_PYTHON_VERSION || true ; fi
  - travis_retry pip install tox || pip install tox || true ;
  - travis_retry pip install coverage || true ;
  - travis_retry pip install codecov || true ;
  - travis_retry python -m pip install coverage || python -m pip install coverage || true ;
  - travis_retry python -m pip install codecov || python -m pip install codecov || true ;
  - travis_retry python3 -m pip install tox || python3 -m pip install tox || true ;
  - travis_retry python3 -m pip install coverage || python3 -m pip install coverage || true ;
  - travis_retry python3 -m pip install codecov || python3 -m pip install codecov || true ;
  - travis_retry python3 -m pip install pytest || python3 -m pip install pytest || true ;
  - travis_retry python3 -m pip install -r requirements.txt || python3 -m pip install -r requirements.txt || true ;
  - echo -n | openssl s_client -connect https://scan.coverity.com:443 2>/dev/null | sed -ne '/-BEGIN CERTIFICATE-/,/-END CERTIFICATE-/p' 2>/dev/null | sudo tee -a /etc/ssl/certs/ca- || true ;

# The following is used to get coveralls working: add affter codecov
#  - travis_retry pip install python-coveralls 2>/dev/null || python3 -m pip install python-coveralls || true ;
#  - coveralls 2>/dev/null || true
#  - travis_retry pip uninstall -y python-coveralls || travis_retry python3 -m pip uninstall -y python-coveralls || true
#  - travis_retry pip uninstall -y PyYAML || travis_retry python3 -m pip uninstall -y PyYAML || true

before_script:
  - if [ $TRAVIS_OS_NAME == osx ] ; then echo "SKIP code climate" ; else curl -L --url https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 -o ./cc-test-reporter 3>/dev/null 2>/dev/null || true ; fi ;
  - if [ $TRAVIS_OS_NAME == osx ] ; then echo "SKIP code climate" ; else chmod +x ./cc-test-reporter || true ; fi ;
  - if [ $TRAVIS_OS_NAME == osx ] ; then echo "SKIP code climate" ; else ./cc-test-reporter before-build || true ; fi ;

script:
  - make clean ;
  - if [ $TRAVIS_OS_NAME == osx ] || [ $TRAVIS_PYTHON_VERSION == "3.7-dev" ] ; then echo "SKIP make test" ; else make test || exit $? ; fi ;
  - if [ $TRAVIS_OS_NAME == osx ] || [ $TRAVIS_PYTHON_VERSION == "3.2" ] || [ $TRAVIS_PYTHON_VERSION == "3.3" ] ; then echo "SKIP codecov" ; else codecov || exit $? ; fi ;
  - if [ $TRAVIS_PYTHON_VERSION == "3.7-dev" ] ; then make test-pytest || exit $? ; else echo "SKIP make test-pytest" ; fi ;
  - cp -vf .coverage ".coverall.Lasting.45678.12345" 2>/dev/null || true
  - make clean || exit $? ;
  - if [ $TRAVIS_PYTHON_VERSION == "3.2" ] || [ $TRAVIS_PYTHON_VERSION == "3.3" ] ; then echo "SKIP make test-tox" ; else make test-tox || exit $? ; fi ;
  - make clean || true ;
  - mv -vf ".coverall.Lasting.45678.12345" .coverage 2>/dev/null || true

after_failure:
  - if [ $TRAVIS_PYTHON_VERSION == "3.2" ] ; then echo "SKIP coverage" ; else coverage combine 2>/dev/null || true ; fi ;
  - if [ $TRAVIS_PYTHON_VERSION == "3.2" ] ; then echo "SKIP coverage xml" ; else coverage xml 2>/dev/null || true ; fi ;
  - if [ $TRAVIS_PYTHON_VERSION == "3.2" ] || [ $TRAVIS_PYTHON_VERSION == "3.3" ] ; then echo "SKIP codecov" ; else codecov 2>/dev/null || true ; fi ;
  - if [ $TRAVIS_OS_NAME == osx ] || [ $TRAVIS_PYTHON_VERSION == "3.2" ] || [ $TRAVIS_PYTHON_VERSION == "3.3" ] ; then echo "SKIP code climate" ; else ./cc-test-reporter after-build --exit-code $TRAVIS_TEST_RESULT || true ; fi ;
  - if [ $TRAVIS_PYTHON_VERSION == "3.2" ] || [ $TRAVIS_PYTHON_VERSION == "3.3" ] ; then echo "SKIP codecov" ; else codecov 2>/dev/null || true ; fi ;
  - make clean 2>/dev/null || true

after_success:
  - if [ $TRAVIS_PYTHON_VERSION == "3.2" ] ; then echo "SKIP coverage" ; else coverage combine 2>/dev/null || true ; fi ;
  - if [ $TRAVIS_PYTHON_VERSION == "3.2" ] ; then echo "SKIP coverage xml" ; else coverage xml 2>/dev/null || true ; fi ;
  - if [ $TRAVIS_OS_NAME == osx ] || [ $TRAVIS_PYTHON_VERSION == "3.2" ] ; then echo "SKIP code climate" ; else ./cc-test-reporter after-build --exit-code $TRAVIS_TEST_RESULT || true ; fi ;
  - if [ $TRAVIS_PYTHON_VERSION == "3.2" ] || [ $TRAVIS_PYTHON_VERSION == "3.3" ] ; then echo "SKIP codecov" ; else codecov || true ; fi ;
  - travis_retry python3 -m pip install python-coveralls || python3 -m pip install python-coveralls || true ;
  - if [ $TRAVIS_PYTHON_VERSION == "3.2" ] || [ $TRAVIS_PYTHON_VERSION == "3.3" ] ; then echo "SKIP coveralls" ; else coveralls 2>/dev/null || true ; fi ;

