#python testing requirements
# time - builtin - PSF licence
# re - builtin - PSF licence?
# subprocess - PSF licence
# sphinx
# six - MIT
six>=1.0.0
# pgpy - BSD 3-Clause licensed
#pgpy>=0.4.1
tox>=3.0.0
#py>=1.4.33
# setuptools - MIT license
setuptools>=75.0
# virtualenv - MIT license
virtualenv>=20.26.6
# build - MIT license
build>=1.1.1, !=1.2.2.post1
# wheel - MIT license
wheel>=0.45
# pip - MIT license
pip>=25.1.1
#
# TESTING ONLY - Do NOT report issues with these optionals on python-repo
#
# flake8 - MIT license
flake8>=7.2.0
# flake8-comprehensions - MIT License
flake8-comprehensions>=3.16.0
# pyflakes - MIT license
# pyflakes>=3.3.2
# pep8 - MIT license
pep8>=1.7
# pytest - MIT license
pytest>=7.0, !=8.1.0
# pytest-doctestplus - BSD license
pytest-doctestplus>=1.4.0
# pytest-cov - MIT license
pytest-cov>=6.1.1
# pytest-enabler - MIT license
pytest-enabler>=1.0.1
# pytest-flake8 - BSD license - removed from tests in v2.0.9a3
# pytest-flake8>=1.0.7
# coverage - Apache 2.0 license
coverage>=7.2
